# This is a basic workflow to help you get started with Actions

name: Build-exe

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  watch:
    type: started

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    
    env:
      MSBUILD_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        path: MemJect 
    - uses: actions/checkout@v2
      with:
        repository: Etherealand/PE2HEX
        path: PE2HEX  
    - uses: actions/checkout@v2
      with:
        repository: danielkrupinski/Osiris
        path: Osiris  
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7' 
        architecture: 'x64' 
    - run: python --version
    # Build command
    - name: Build Osiris.dll
      shell: cmd
      run: '"%MSBUILD_PATH%\MSBuild.exe" Osiris\Osiris\Osiris.vcxproj /p:Platform=Win32 /p:Configuration=Release /p:OutDir=D:\a\MemJect\MemJect\Osiris\'
    - name: convert Osiris.dll to hex byte
      run: python .\PE2HEX\PE2HEX.py --input=.\Osiris\Osiris.dll
    - name: replace MemJect.c with MemJect.c_back 
      run: 'powershell -Command Copy-Item .\MemJect\MemJect.c_back .\MemJect\MemJect\MemJect.c -force'
    - name: replace binary[] into MemJect.c
      shell: powershell
      run: '(Get-Content ".\MemJect\MemJect\MemJect.c") -replace "DLL_HEX_DATA_NEED_TO_REPLACE",(Get-Content ".\output.txt") | Out-File .\MemJect\MemJect\MemJect.c'
    - name: build Memject.exe
      shell: cmd
      run: '"%MSBUILD_PATH%\MSBuild.exe" MemJect\MemJect\MemJect.vcxproj /p:Platform=Win32 /p:Configuration=Release /p:OutDir=D:\a\MemJect\MemJect\MemJect\'
    - name: Commit  files
      run: |
        cd .\MemJect\
        git config --global user.email AutoupdateRobot@email.com
        git config --global user.name AutoupdateRobot
        git add .
        git commit -m "update exe" -a  
    - name: Push  file
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        directory: .\MemJect\

